body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* CSS file */
@import "normalize.css";

:root {
    --black-color: #0f1111;
    --yellow-color: #ffc000;
}

main .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .products .product {
    border: 1px solid var(--black-color);
    margin: 1rem;
}

main .products .product img {
    width: 100%;
    max-width: 400px;
}

main .products .product .product-info {
    padding: 1rem;
}

.rating span {
    color: var(--yellow-color);
}

.btn-primary {
    background-color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
}

.img-large {
    max-width: 100%;
}
