body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Custom scrollbar */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* CSS file */
@import "normalize.css";

:root {
    --black-color: #0f1111;
    --yellow-color: #ffc000;
}

.site-container {
    min-height: 100vh;
}

main {
    flex: 1;
}

main .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .products .product {
    border: 1px solid var(--black-color);
    margin: 1rem;
}

main .products .product img {
    width: 100%;
    max-width: 400px;
}

main .products .product .product-info {
    padding: 1rem;
}

.rating span {
    color: var(--yellow-color);
}

.btn-primary {
    background-color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
}

.spinner-loading {
    color: var(--yellow-color);
    width: 60px;
    height: 60px;
}

.img-large {
    max-width: 100%;
}

.img-thumbnail {
    height: 80px;
}

.small-container {
    max-width: 540px;
}

/* cart */
.badge-cart {
    position: absolute;
    top: 0;
    left: 16px;
}

/* avatar navbar */
.img-avatar,
.icon-user {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

/* Checkout-steps */
.checkout-steps > div {
    border-bottom: 0.3rem solid #a0a0a0;
    color: #a0a0a0;
    border-radius: 2px;
}

.checkout-steps > div.active {
    border-bottom: 0.3rem solid #f08000;
    color: #f08000;
    border-radius: 2px;
}

/* List group */
.list-group-scroll-small {
    height: 300px;
    overflow-y: scroll;
}

.list-group-scroll-large {
    height: 800px;
    overflow-y: scroll;
}
